.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 100px;
}

.nav-items {
  padding: auto;
}

.nav-items > ul {
  font-size: 24px;
  display: flex;
  list-style: none;
  font-weight: 600;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
/* .body {
  border: 1px solid black;
} */
.restaurantContainer {
  display: flex;
  flex-wrap: wrap;
}
.search {
  margin: 20px;
  cursor: pointer;
}
.restaurantCard {
  margin: 5px;
  padding: 20px;
  width: 16%;
}
.restaurantContainer :hover {
  cursor: pointer;
}
.restaurant-logo {
  object-fit: cover;
  width: 190px;
  height: 210px;
}
.avgRating {
  display: flex;
  align-items: center;
  justify-content: normal;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  margin: 5px;
  padding: 20px;
  /* background: linear-gradient(-90deg, #eee 40%, #fafafa 50%, #eee 60%); */
  /* animation: shimmer-card 2.5s infinite; */
  background-color: lightgray;
  height: 300px;
  width: 250px;
  animation: 3s linear 1s slide-in;

  /* background: linear-gradient(
    to right,
    rgba(238, 238, 238, 0) 20%,
    rgba(250, 250, 250, 0.5) 50%,
    rgba(238, 238, 238, 0) 80%
  ); */
  /* animation: shimmer 1.7s linear infinite; */
}

.loginbtn {
  padding: 10px;
  height: 50px;
  width: 100px;
  margin: 10px;
}

/* @keyframes shimmer {
  from {
    transform: translateX(-230%);
  }
  to {
    transform: translateX(280%);
  }
} */
